* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-image: url("https://i.giphy.com/media/TxVVB6PfWMjE4/200.webp");
  height: 100vh;
}

#wrapper {
  text-align: center;
  margin-top: 50px;
}

img {
  width: 600px;
  height: 400px;
}

#container {
  border: 3px solid yellow;
  border-radius: 15px;
  color: white;
  width: 35%;
  margin: auto;
  height: 25vh;
}

button {
  margin-top: 20px;
  border: 3px solid yellow;
  border-radius: 10px;
  width: 180px;
  height: 40px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

#name {
  font-size: 30px;
}

#height {
  font-size: 20px;
}

#gender {
  font-size: 20px;
}

#birthyear {
  font-size: 20px;
}

#home {
  font-size: 20px;
}

p {
  font-weight: bold ;
  margin: 20px;
}

.fa-spinner{
  margin-top: 50px;
}